
<body>
  <h2>Here are all of the restaurants in @Model["cuisine"].GetName():</h2>

  @if(@Model["restaurants"].Count == 0)
  {
    <p>There are no restaurants in this cuisine</p>
  }
  else
  {
    <ol>
      @foreach(var restaurant in @Model["restaurants"])
      {
        <li>@restaurant.GetName()</li>
          <ul>
            <li>@restaurant.GetAddress()</li>
          </ul>
      }
    </ol>
  }
  <h4><a href="/">Back to main</a></h4>
</body>
