
<body>
  <h1>Search Cuisine</h1>
  <hr />
  <form action="/cuisine/search/result" method="post">
    <label for="search-cuisine">Name of cuisine to search</label>
    <input id="search-cuisine" name="search-cuisine" type="text">
    <button type="submit">Search</button>
  </form>
</body>
